* {
    margin: auto;
    padding: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 102, 102);
    height: auto;
    width: auto;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-content: center;
}

img {
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: rgb(7, 44, 44);
    border-radius: 60px;
    width: 100%;
    list-style: none;
}

.namer {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-style: oblique;
    margin-top: 0.5rem;
}