body {
    margin: 40px;
    padding: px;
    background-color: rgb(29, 102, 102);
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-content: center;
}

img {
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
}

.inputs {
    margin: 10px;
    padding: 10px;
    padding-left: 100px;
    flex-wrap: wrap;
}

input {
    background-color: transparent;
    border-color: rgb(65, 160, 132);
    width: 80%;
    height: 30px;
    border-radius: 60px;
    margin-top: 10px;
}

button {
    display: flex;
    background-color: rgb(69, 128, 98);
    color: rgb(1, 12, 12);
    height: 30px;
    width: 20%;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(162, 22, 226);
    transition: 1s ease-in-out;
    animation-duration: 1s;
}

.buttons {
    justify-content: center;
}

.button {
    justify-content: center;
}

.nav-menu-btn {
    color: #65dee2;
    display: flex;
}

.nav-menu-btn:hover {
    color: aliceblue;
}

.nav-button {
    justify-content: center;
    display: flex;
    justify-content: space-around;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-top: 20px;
}

h2 {
    display: flex;
    justify-content: center;
}

h6 {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(112, 231, 191);
    display: flex;
    justify-content: center;
    align-content: center;
}

input {
    color: rgb(118, 221, 140);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    background-color: rgb(7, 44, 44);
    border-radius: 60px;
    width: 100%;
    list-style: none;
}

li {
    color: transparent;
}

a {
    background-color: transparent;
    color: rgb(255, 252, 252);
    transition: 1s;
    opacity: 5px;
    animation: forwards;
    border-radius: 100px;
}

a:hover {
    color: rgba(255, 219, 14, 0.801);
}

a:active {
    background-color: rgb(30, 48, 30);
    transition: 1s ease-in-out;
}

.namer {
    display: flex;
    justify-content: center;
    align-;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-style: oblique;
    margin-top: 70px;
}